{"code_version": "1", "model_version": "3", "heartbeat": 0, "backend": {"ip": "192.168.0.114", "port": 9695}, "camera": {"source": 0, "width": 1280, "height": 720, "decrease": 2, "exposure": 140}, "cnn": {"classes": ["Missing", "Present"], "false_frames": 5, "threshold_max": 99.9, "threshold_min": 60, "max_size": 100000000}, "marker": [{"X": 238, "Y": 168}, {"X": 930, "Y": 627}, {"X": 246, "Y": 636}], "markerIDs": {"topLeft": 21, "bottomRight": 30, "bottomLeft": 31}, "hand_mask": {"min_blue": 150, "min_green": 150, "min_red": 100, "max_blue": 173, "max_green": 255, "max_red": 255, "closing": 0, "opening": 0, "treshold": 1}}
